body{
  // perspective: 1000px;
  background: 
  linear-gradient(
    45deg, 
    #a9a9a9 25%, 
    transparent 25%, 
    transparent 75%, 
    #a9a9a9 75%
  ),
  linear-gradient(
    45deg, 
    #a9a9a9 25%, 
    transparent 25%, 
    transparent 75%, 
    #a9a9a9 75%
  );
  background-color: #a4a4a4;
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
$w:300px;
.skirt-css3d{
  transform-style: preserve-3d;
  transition: all 300ms 0s ease;
  width:45px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  transform-origin: center;
  transform: rotateX(60deg) rotateZ(20deg);
  .belt{
    transform-style: preserve-3d;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 5rem;
    background-color: #523a73;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    .top{
      width: 42px;
      height: 42px;
      border-radius: 5rem;
      background-color: #523a73;
      transform-style: preserve-3d;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateZ(3px);

    }
    .bottom{
      width: 42px;
      height: 42px;
      border-radius: 5rem;
      background-color: #523a73;
      transform-style: preserve-3d;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateZ(1.5px);

    }
    .p{
      
    transform-style: preserve-3d;
      @for $i from 1 to 36 {
        &.p#{$i}{
          display: block;
          background-color: #523a73;
          height: 3px;
          width: 42px;
          transform-origin:center;
          transform: rotateX(90deg) rotateY(-10deg*$i) translateY(1.5px);
          position: absolute;
          top: 20px;
        }
      }
    }
  }
  .plaits{

    transform-style: preserve-3d;
    position: absolute;
    width:40px;
    height: 40px;
    top: 1.5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateZ(-3px);
    .top{
      position: absolute;
      top: 20px;
      left: 15px;
      .p{
        transform-style: preserve-3d;
        position: absolute;
        width: 10px;
        height: 40px;
        background:
        linear-gradient(
          -188deg ,
          #523a73,
          #00000000 98%,
          #00000000 0,
          #00000000 100%
          ),
        linear-gradient(
          -188deg ,
        #865fbc 85%,
        #fff 0,
         #fff 88%,
         #865fbc 0,
         #865fbc 90%,
         #fff 0,
         #fff 95%,
        #00000000 0,
        #00000000 98%) ;
        transform-origin: top center;

        &::after{
          display: block;
          content: "";
          width: 4px;
          height: 40px;
          background:
          linear-gradient(
            -188deg ,
            #00000099,
            #00000000 98%,
            #00000000 0,
            #00000000 100%
            ),  linear-gradient(
            -188deg ,
          #865fbc 85%,
          #fff 0,
           #fff 88%,
           #865fbc 0,
           #865fbc 90%,
           #fff 0,
           #fff 95%,
          #00000000 0,
          #00000000 98%);
          position: absolute;
          transform-origin: left center;
          z-index: 10;
          transform: rotateY(36deg);
        }
        &::before{
          display: block;
          content: "";
          width: 4px;
          height: 40px;
          background:
          linear-gradient(
            -188deg ,
            #00000099,
            #00000000 98%,
            #00000000 0,
            #00000000 100%
            ),  linear-gradient(
            -188deg ,
          #865fbc 85%,
          #fff 0,
           #fff 88%,
           #865fbc 0,
           #865fbc 90%,
           #fff 0,
           #fff 95%,
          #00000000 0,
          #00000000 98%);
          position: absolute;
          transform-origin: left center;
          z-index: 20;
          transform: translateZ(-1.8px) translateX(-0.8px) rotateY(6deg);
        }
        @for $i from 1 to 25 {
          &.p#{$i}{
            // top: 100px;
            // background-color: #000#{$i};
            transform: rotateZ(-18deg*$i) rotateX(-82deg) translatez(20px)  rotateY(9deg);
          }
        }
        
      }
    }
  }
}